<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Tareas</title>
</head>
<body>
<h1>Listado de Tareas</h1>
<a th:href="@{/tasks/create}">Crear Nueva Tarea</a>
<table border="1">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha de Creación</th>
        <th>Fecha de Cierre</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.name}">Nombre</td>
        <td th:text="${task.description}">Descripción</td>
        <td th:text="${task.creationDate}">Fecha de Creación</td>
        <td th:text="${task.dueDate}">Fecha de Cierre</td>
        <td th:text="${task.estate}">Estado</td>
        <td>
            <a th:href="@{/tasks/edit/{id}(id=${task.id})}">Editar</a>
            <a th:href="@{/tasks/delete/{id}(id=${task.id})}" onclick="return confirm('¿Estás seguro de eliminar esta tarea?');">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
