<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista de Tareas</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<h1>Lista de Tareas</h1>
<a href="/tasks/create">Crear Nueva Tarea</a>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Estado</th>
    <th>Fecha de Apertura</th>
    <th>Fecha Planificada de Cierre</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="task : ${tasks}">
    <td th:text="${task.id}"></td>
    <td th:text="${task.name}"></td>
    <td th:text="${task.type}"></td>
    <td th:text="${task.status}"></td>
    <td th:text="${task.openingDate}"></td>
    <td th:text="${task.plannedClosingDate}"></td>
    <td>
      <a th:href="@{/tasks/edit/{id}(id=${task.id})}">Editar</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>