<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>House Details</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<p><a th:href="@{/}" th:text="Índice" class = "centrado"></a></p>
<h1 th:text="${house.name}">House Name</h1>
<p><strong>Founder:</strong> <span th:text="${house.founder}">Founder</span></p>
<p><strong>Mascot:</strong> <span th:text="${house.mascot}">Mascot</span></p>
<h2>Students in this House</h2>
<table>
    <tr>
        <th>Name</th>
    </tr>
    <tr th:each="student : ${students}">
        <td>
            <a th:href="@{/student(name=${student.name})}" th:text="${student.name}">Student Name</a>
        </td>
    </tr>
</table>
<p><a th:href="@{/house/createStudent/{name}(name=${house.name})}" th:text="Crear" class="centrado"></a></p>

</body>
</html>
