<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<p><a th:href="@{/students}" th:text="Buscar" class="centrado"></a></p>
<p><a th:href="@{/houses/create}" th:text="Crear" class="centrado"></a></p>
<p class="title"><a th:href="@{/houses}" th:text="Houses" class = "centrado"></a></p>
<table>
    <tr>
        <th>
            <p>Random student</p>
        </th>
        <th>
            <p>Random house</p>
        </th>
    </tr>
    <tr>
        <td>
            <a th:href="@{/house/{name}(name=${house.name})}" th:text="${house.name}"></a>
        </td>
        <td>
            <a th:href="@{/student(name=${student.name})}" th:text="${student.name}">Student Name</a>
        </td>
    </tr>
</table>
</body>
</html>