<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>students</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<p><a th:href="@{/}" th:text="Índice" class = "centrado"></a></p>
<h1>Filtrar Estudiantes</h1>
<form action="/students" method="get">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" placeholder="Ingrese nombre">
    <label for="patronus">Patronus:</label>
    <input type="text" id="patronus" name="patronus" placeholder="Ingrese patronus">
    <button type="submit">Filtrar</button>
</form>

<h2>Lista de Estudiantes</h2>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Patronus</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="student : ${students}">
        <tr>
            <td th:text="${student.name}">Nombre</td>
            <td th:text="${student.patronus}">Patronus</td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>