<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Equipos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Lista de Equipos</h1>
<a href="/teams/create">Crear Nuevo Equipo</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team : ${teams}">
        <td th:text="${team.id}"></td>
        <td th:text="${team.name}"></td>
        <td>
            <a th:href="@{/teams/{id}(id=${team.id})}">Ver</a> |
            <a th:href="@{/teams/edit/{id}(id=${team.id})}">Editar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>